
*.elc
*.orig
*~
.DS_Store
.cask
.smex-items
/.mc-lists.el
/.mc-lists.el
/.org-id-locations
/backups/
/personal/.Rhistory
/personal/.cider-history
/personal/.cider-history
/prelude-modules.el
/projectile-bookmarks.eld
/repl-port
/request/curl-cookie-jar
/swank
/swank
/var/
abbrev_defs
auto-save-list
ede-projects.el
el-get
elpa
eshell
flycheck-*.el
octave-core
places
projectile-bookmarks.eld
projectile.cache
recentf
savefile/
savehist
saveplace
semanticdb
session*
.cask
tramp
url

